.list-item {
  border: 1px solid darken( $off-white, 7%);
  &:not(:nth-child(1)) {
    border-top: none;
  }
  color: $dark-grey;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $s-size;
  text-decoration: none;
  transition: background .3s ease;
  &:hover {
    background: $off-white;
  }
}

.list-item__title {
  margin: 0;
  word-break: break-word;
  width: 100%;
  padding: 0 $m-size;
}

.list-item__preview {
  display: block;
  width: 6rem;
}
